@media (max-width:320px) and (min-width:0px){
    .box{
        height: 25vw;
    }
}
@media (max-width:500px) and (min-width:321px){
    .box{
        height: 25vw;
    }
}
@media (max-width:650px) and (min-width:500px){
    .box{
        height: 25vw;
    }
}
@media (max-width:800px) and (min-width:651px){
    .box{
        height: 25vw;
    }
}
@media (max-width:1000px) and (min-width:801px){
    .box{
        height: 25vw;
    }
}
@media (max-width:1100px) and (min-width:1001px){
    .box{
        height: 30vw;
    }
}
@media (max-width:1200px) and (min-width:1101px){
    .box{
        height: 30vw;
    }
}
@media (max-width:2560px) and (min-width:1201px){
    .box{
        height: 30vw;
    }
}
@media (max-width:2560px) and (min-width:0px){
    .boxforbutton{
        top: 40%;
    }
    .boxbackbutton{
        top: 40%;
    }
}
@media (max-width:2560px) and (min-width:1800px){
    .boxforbutton{
        width:10vmin;
        height:10vmin;
    }
    .boxbackbutton{
        width:10vmin;
        height:10vmin;
    }
}
@media (max-width:1799px) and (min-width:1000px){
    .boxforbutton{
        width:6vmin;
        height:6vmin;
    }
    .boxbackbutton{
        width:6vmin;
        height:6vmin;
    }
}
@media (max-width:999px) and (min-width:600px){
    .boxforbutton{
        width:4vmin;
        height:4vmin;
    }
    .boxbackbutton{
        width:4vmin;
        height:4vmin;
    }
}